@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/impact.ttf") format("truetype");
}

@font-face {
  font-family: "Kalam";
  src: url("../assets/fonts/Kalam-Regular.ttf format") format("truetype");
}
@font-face {
  font-family: "Noto-Sans";
  src: url("../assets/fonts/Kalam-Regular.ttf format") format("truetype");
}

@font-face {
  font-family: "T-Web";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
