@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;
@use "../../styles/variables.scss" as *;

.meme {
  position: relative;
  margin: 1rem;

  @include tablet {
    margin-bottom: 2rem;
  }

  @include desktop {
    margin-bottom: 2rem;
  }
}
