footer {
  background-color: #5ce1e6;
  height: 30rem;
  width: 75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &__title {
    font-size: 20rem;
  }
}
h4.footer__title {
  font-size: 4rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

h4.footer__socials--title {
  font-size: 4rem;
  font-weight: 300;
  padding: 1;
  padding-top: 3rem;
  margin: 0;
}

div.footer__wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
}

div.footer__socials {
  display: flex;
  font-size: 4.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

div.footer__icons {
  padding-top: 2rem;
}

img.logo {
  width: 40rem;
  height: auto;
}

img.fb {
  width: 22%;
  margin-left: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
img.ig {
  width: 22%;
  padding-right: 1rem;
  padding-left: 1rem;
}

img.t {
  width: 22%;
  padding-right: 1rem;
  padding-left: 1rem;
}
