@use "../../styles/global.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;
@use "../../styles/variables.scss" as *;

div.nf__title {
  font-family: "Noto-Sans", "Impact", sans-serif;
  font-size: 10rem;
  text-align: center;
}

img.uhoh {
  width: 43.75rem;
  height: auto;
  align-items: center;
}

div.nf__title--details {
  font-family: "T-Web", sans-serif;
  padding: 2rem;
  text-align: center;
  font-size: 5rem;
}
